
.homeFlex{
    display: flex;
    background-color:  rgb(246, 248, 248);
    padding: 5%;
    justify-content: space-around;
}
.home h1{
    margin-top: 1%;
    margin-bottom: 0;
    background-color: rgb(246, 248, 248);
    color: #032347;
}
.homeFlex img{
    width: 300px;
    margin-top: 1%;
    border-radius: 5px;
}
.home p{
    width: 60%;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: justify;
    background-color:  rgb(246, 248, 248);
    color: #032347;
}
@media(max-width: 768px){
    .homeFlex{
        flex-direction: column;
    }
    .home p{
        width: 100%;
        padding: 5%;
    }
    .homeFlex img{
        margin: auto;
    }
}