.advisorAdvisor{
    width: 100%;
    padding:4%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    text-align: center ;

    color: #032347 ;
}
.advisorImageAdvisor img{
    width: 15%;
    border-radius: 50%;
}
.advisorDescriptionAdvisor h1{
    font-size: 1.8rem;
    text-align: center;
    margin-top:4% ;
    margin-bottom: 4%;
}
.advisorAdvisor p{
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: justify;
    padding:5%;
    padding-top: 0;
  
}

@media(max-width: 450px){
    .advisorImageAdvisor img{
        width: 30%;
        padding-top: 3%;
    }
    .advisorAdvisor h1{
        font-size: 1.7rem;
        
    }
    
}