*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh; /*ocupar toda a tela*/
    color: #032347;
    font-size: 1.5rem;
}
.top{
    width: 100%;
    padding:20px;
    background: linear-gradient(329.54deg,  #c5f6fa 0%,  #032347 100%);
}
.topHr{
    margin-top: 2%;
    width: 100%;
    padding:1px;
    background: linear-gradient(329.54deg,  #c5f6fa 0%,  #032347 100%);
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.main img{
    width:12%;
    margin-left: 3%;
    border-radius: 50%;
}
.main p{
    margin-left: -55%;
    margin-top: 15%;
    margin-bottom: 0;
    padding:0;
}
.main ul{
    width: 40%;
    display: flex;
    margin-top: 1%;
    margin-right: 1.5%;
}
.main li{
    flex-wrap: nowrap;
    list-style: none;
    text-align: center;
    width: 100%;
    padding:2%;
}

.main a{
    text-decoration: none;
    background:  #5781b1 ;
    border-radius: 10px;
    color:  #f6f8f8;
    font-size: 1rem;
    width: 100%;
    margin-left: 2%;
    padding: 2%;
}
.home{
    width: 100%;
    text-align: center;
    background: linear-gradient(329.54deg,  #c5f6fa 0%,  #032347 100%);
    color:  #f6f8f8;
}
.home h1{
    padding: 3%;
    font-size: 2.3rem;
}
.home img{
    width: 30%;
    border-radius: 5px;
    border: 1px solid #f6f8f8;
    margin-bottom: 4%;
}
.bookQuote{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
.bookQuote h1{
    font-size: 2.1rem;
    margin-bottom: 2%;
}
.bookQuote p{
    font-size: 1.2rem;
    font-style: oblique;
    line-height: 2rem;
}
.bookQuote img{
    width: 22%;
    border-radius: 50%;
}
.events{
    width: 100%;
    text-align: center;
    background: linear-gradient(329.54deg,  #c5f6fa 0%,  #032347 100%);
    color:   #f6f8f8;
}
.events h1{
    font-size: 2.1rem;
    padding-top: 2%;
    padding-bottom: 1%;
}
.events ul{
    width: 100%;
    display: flex;
    font-size: 1rem;
    padding: 2%;
    padding-bottom: 3%;
}
.events li{
    list-style: none;
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
    background-color: #f6f8f8;
    color: #032347;
    border-radius: 10px;
    margin-bottom: 2%;
}
.advisor{
    width: 100%;
    display: flex;
    padding: 3% 4%;
}
.advisorImage img{
    width: 100%;
    padding: 6%;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.advisorDescription h1{
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 3%;
}
.advisor p{
    font-size: 1.2rem;
    padding-left: 8%;
    padding-right: 4%;
    line-height: 2rem;
    text-align: justify;
}
.testimony{
    width: 80%;
    text-align: justify;
    background: #f6f8f8;
    color: #032347;
    margin: auto;
    padding-bottom: 3%;
}
.testimony h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 3%;
    padding-bottom: 3%;
}
.testimony p{
    font-size: 1rem;
    line-height: 1.5;
    font-style: oblique;
}
.imageName{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 1%;
    font-weight: bold;
}
.imageName img{
    width: 70px;
    margin-right: .5%;
    margin-top: 4%;
    border-radius: 5px;
    border:1px solid #6d0416;
}
.form {
    width: 100%;
    background: linear-gradient(329.54deg,  #c5f6fa 0%,  #032347 100%);
    color: rgb(246, 248, 248);
    padding-bottom: 3%;
}
.form h1{
    font-size: 2.1rem;
    text-align: center;
    padding-top: 3%;
}
.form h2{
    font-size: 1.6rem;
    text-align: center;
}
.form p{
    text-align: center;
    font-size: 1.2rem;
    color: #032347;
}
.form a{
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: #032347;
}
input,select, textarea{
    width: 35%;
    display: flex;
    box-sizing: border-box;
    border: none;
    margin: auto;
    border-radius: 5px;
    padding: .8%;
    background-color: rgb(246, 248, 248);
    color: #032347;
    margin-top: 5px;
    margin-bottom: .8%;
    font-size: .9rem;
}
::placeholder{
    color: #032347;
}
input[type="submit"]{    
    color: #032347;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: .5%;
}
hr { 
    width: 95%;
    margin: auto;
    border-top: 1px solid #032347;
    margin-top: 2%;
}
footer{
    padding-top: 1%;
    width: 100%;
    text-align: center;
}
footer p {
    font-size: .8rem ;
    background: #032347;
    padding-top:1%;
    padding-bottom: 1%;
    margin-top: .5%;
}
.icon a{
    padding-left: 1%;
    text-decoration: none;
    color: #f6f8f8;
}
.icon img{
    width: 3%;
}
@media(max-width:768px){
    .main{
        flex-direction:column;
        width: 100%;
    }
   .main img{
        width: 25%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin: auto;
    }
    .main li{
        width:100%;
        padding: 4%;
    }
   .main ul{
       width: 100%;
       margin-bottom: 2%;
       padding: 1%;
    }
    .main a{
        border-radius: 5px;
    }
    
    .main p{
        margin: auto;
    }
    .home img{
        width: 50%;
    }
    .home h1{
        font-size: 1.7rem;
        padding-left: 3%;
        padding-right:3%;
    }
    .bookQuote h1{
        font-size: 1.7rem;
    }
    .bookQuote p{
        font-size: 1.1rem;
        padding-left: 4%;
        padding-right: 4%;
    }
    .bookQuote img{
        width: 40%;
        padding: 0;
    }
    .events h1{
        font-size: 1.7rem;
    }
    .events ul{
        width: 90;
        flex-direction: column;
        font-size: 1.1rem;
        padding: 4%;
        margin: auto;
        margin-bottom: 2%;
    }
    .events img{
        width: 90%;
        margin-top: 3%;
     }
    .events li{
        margin-top: 5%;
        
    }
    .advisor{
        flex-direction: column;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .advisorImage img{
        width: 35%;
        padding: 0;
    }
    .advisor h1{
        font-size: 1.7rem;
    }
    .advisor p{
        padding: 5%;
    }
    .form h1{
        font-size: 1.7rem;
    }
    .form h2{
        font-size: 1.5rem;
    }
    input,select, textarea{
        width: 80%;
        padding: 2.5%;
        font-size: 1rem;
        margin-top: 2%;
    }
    ::placeholder{
        color: #032347;
    }
    input[type="submit"]{    
        font-size: 1.1rem;
        margin-top: 2%;
    }
   
    .icon a{
        padding-bottom: 1%;
    }
    .icon img{
        width:8%;
        margin: 1%;
    }

}













